{% set label_id = label_id|default('password-sign-in') %}
{% set confirm_id = confirm_id|default('confirmPassword') %}
{% set aria_controls = confirm ? label_id + " " + confirm_id : label_id %}

<label class="usa-label" for="{{ label_id }}">{{ label|default('Password') }}</label>
<input class="usa-input" id="{{ label_id }}" name="password" type="password" required>
{# Todo: use macro. #}
{% if confirm %}
  <label class="usa-label" for="{{ confirm_id }}">{{ confirm_label|default('Confirm password') }}</label>
  <input class="usa-input" id="{{ confirm_id }}" name="{{ confirm_id }}" type="password">
{% endif %}
<p class="usa-form__note">
  <a title="Show password"
    href="javascript:void(0);"
    class="{{ modifier|default('usa-show-password') }}"
    aria-controls="{{ aria_controls }}">{{ note|default('Show password') }}</a>
</p>
