{% from "./components/usa-pagination/_usa-pagination-button.twig" import paginationButton %}

{% set sprite_path = sprite_path | default('../../img/sprite.svg') %}

{% set
  pager_ranges = {
    'default': range(pagination.current - 3, pagination.current + 3),
    'last_item': pagination.items,
    'first_seven': range(2, 9),
    'last_seven': range(pagination.items - 7, pagination.items),
    'all': range(2, pagination.items - 1)
  }
%}

<nav aria-label="{{ aria_label }}" class="usa-pagination {{ modifier | default('') }}">

  <ul class="usa-pagination__list">

    {# Previous page #}
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="{{ pagination.previous.aria_label }}"
        {{ pagination.current == 1 ? 'disabled' }}>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#navigate_before"></use>
        </svg>
        <span class="usa-pagination__link-text">
          {{ pagination.previous.label }}
        </span>
      </a>
    </li>

    {# Page numbers #}
    {% if pagination.items <= 7 %}
      {# List all of them if less than 7 #}
      {% for item in pager_ranges.all  %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}
    {% elseif pagination.current <= 7 and pagination.items >= 7 %}
      {# Show first seven only #}
      {% for item in pager_ranges.first_seven  %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}


    {% elseif (pagination.current >= pagination.items - 7) %}
      {# Show last seven #}
      {% for item in pager_rseven %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}
    {% else %}

      {# Default - Current - 3, Current, Current + 3 #}
      {% for item in pager_ranges.default %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}

    {% endif %}

    <li class="usa-pagination__item usa-pagination__arrow">
      {# Next page #}
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="{{ pagination.next.aria_label }}"
        {{ pagination.items == pagination.current ? 'disabled' }}>
        <span class="usa-pagination__link-text">
          {{ pagination.next.label }}
        </span>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#navigate_next"></use>
        </svg>
      </a>
    </li>

  </ul>
</nav>
