<!DOCTYPE html>
<html class="{{ html_class }}">
  <head>
    <meta charset="UTF-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page_title }} | {{ site_name }}</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i|Oswald:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/uswds.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead|raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ body_class }}">
