<section class="usa-prose margin-top-2">
  <h1>{{ token_type }} color tokens</h1>
  <p class="usa-intro">
    USWDS organizes its colors tokens into theme tokens, state tokens, and
    system tokens. 
  </p>
  <p>Preview the {{ token_type }} color names and values in the {% if swatches %}swatches below:{% endif %}{% if color_select_system or color_select_theme %}demo box by selecting a color from the dropdown in the "Controls" tab of the Storybook addons panel (to access, press the 'A' key).{% endif %}
</section>

{% if token_type == "system" %}
  {% if color_select_system %}
   <section class="usa-prose margin-top-2">
      <p><strong>Color value: {{ color_select_system }}</strong></p>
    </section>
    <section class="usa-section margin-top-2" id="system-demo"></section>
  {% endif %}

  {% if swatches %}
  <section class="display-flex flex-wrap">
    {% for key, value in swatches %}
       <div class="swatch--system margin-top-2">
        <div class="height-15" style="background-color: {{ value }}"></div>
        <p>Name: {{ key }}<br/>Value: {{ value }}</p>
      </div>
    {% endfor %}
  </section>
  {% endif %}
{% endif %}

{% if token_type == "theme" %}
  {% if color_select_theme %}
    <section class="usa-prose margin-top-2">
      <h2>{{ color_select_theme }}</h2>
    </section>
    <section class="usa-section margin-top-2  bg-{{ color_select_theme }}" id="theme-demo"></section>
  {% endif %}

  {% if swatches %}
    <section class="swatch--theme display-flex flex-wrap margin-top-2 measure-6">
      {% for key, value in swatches %}
        <div style="width: 100%">
          <div class="bg-{{ key }} height-10" ></div>
          <p>Name: $theme-color-{{ key }}<br/>Value: {{ value }}</p>
        </div>
      {% endfor %}
    </section>
  {% endif %}
{% endif %}

<style>
  h1::first-letter,
  .swatch--system > p::first-letter,
  .swatch--theme > p::first-letter {
    text-transform: capitalize;
  }

  #system-demo,
  #theme-demo { 
    height: 50vh; 
    width: 100%; 
  }

  #system-demo {
    background-color: {{ color_select_system }};
  }

  .swatch--system p,
  .swatch--theme p {
    font-size: .875rem;
  }

  @media screen and (max-width: 480px) {
    .swatch--system {
      width: 100%;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 760px){
    .swatch--system {
      width: calc(100%/2);
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1200px) {
    .swatch--system {
      width: calc(100%/3);
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1920px) {
    .swatch--system {
      width: calc(100%/6);
    }
  }

  @media screen and (min-width: 1920px) {
    .swatch--system {
      width: calc(100%/10);
    }
  }
</style>