<form class="usa-form">
  <div class="usa-form-group">
    <label class="usa-label" id="appointment-date-label" for="appointment-date">Appointment date</label>
    <div class="usa-hint" id="appointment-date-hint">mm/dd/yyyy</div>
    <div class="usa-date-picker"
      {% if default_date %} data-default-date="{{ default_date }}"{% endif %}
      {% if default_value %} data-default-value="{{ default_value }}"{% endif %}
      {% if range_date %} data-range-date="{{ range_date }}"{% endif %}
      {% if min_date %} data-min-date="{{ min_date }}"{% endif %}
      {% if max_date %} data-max-date="{{ max_date }}"{% endif %}
    >
      <input
        class="usa-input"
        id="appointment-date"
        name="appointment-date"
        type="text"
        aria-describedby="appointment-date-label appointment-date-hint"
        {% if disabled %} disabled{% endif %}
      >
    </div>
  </div>
</form>
