<button class="usa-button {{ modifier }}" {% if submit %}type="submit"{% endif %}>
  {% if sr_only %}
    <span class="usa-sr-only">
  {% endif %}
  {{ title|default(modifier) }}
  {% if sr_only %}
    </span>
  {% endif %}  
</button>

{% if show_states|default(false) %}
  {% for state in states %}
    {% if state != "disabled" %}
      <button class="usa-button {{ modifier }} usa-button--{{ state }}">
    {% else %}
      <button class="usa-button {{ modifier }}" disabled>
    {% endif %}
      {{ state|capitalize }}
    </button>
  {% endfor %}
{% endif %}
