<div class="usa-logo" id="{{ id_prefix }}logo">
  <em class="usa-logo__text">
    <a href="{{ link.href|default('/') }}" title="{{ link.title|default('Home') }}" aria-label="{{ link.label|default('Home') }}">
      {{ title|e|default('Home') }}
    </a>
  </em>
</div>
