<footer class="usa-footer {% if modifier %} {{- modifier -}} {% endif %}">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">{{ footer.return_to_top | default('Return to top') }}</a>
  </div>
  <div class="usa-footer__primary-section">
    {% block primary %}
      {% include "./components/usa-footer/_includes/usa-footer-nav-primary.twig" with footer.primary_section.nav %}
    {% endblock %}
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      {% block secondary %}
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img" src="{{ img_path }}/logo-img.png" alt="">
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading">
                {{ agency_contact_info.name }}
              </p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            {% include "./components/usa-footer/_includes/usa-social-nav.twig" %}

            <h3 class="usa-footer__contact-heading">
              {{ agency_contact_info.title }}
            </h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto">
                  {{ agency_contact_info.phone_no }}
                </div>
                <div class="grid-col-auto">
                  <a href="mailto:info@agency.gov">
                    {{ agency_contact_info.email }}
                  </a>
                </div>
              </div>
            </address>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
</footer>
