{% from "./components/usa-pagination/_usa-pagination-button.twig" import paginationButton %}

{% set ellipsis %}
<li class="usa-pagination__item usa-pagination__ellipsis" role="presentation">
  <span>
    …
  </span>
</li>
{% endset %}

{% set sprite_path = sprite_path | default('../../img/sprite.svg') %}

{% set
  pager_ranges = {
    'default': range(pagination.current - 1, pagination.current + 1),
    'last_item': pagination.items,
    'first_three': range(2, 4),
    'last_three': range(pagination.items - 3, pagination.items - 1),
    'all': range(2, pagination.items - 1)
  }
%}

<nav aria-label="{{ aria_label }}" class="usa-pagination {{ modifier | default('') }}">

  <ul class="usa-pagination__list">

    {# Previous page #}
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="{{ pagination.previous.aria_label|default("Previous page") }}"
        {{ pagination.current == 1 ? 'disabled' }}>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#navigate_before"></use>
        </svg>
        <span class="usa-pagination__link-text">
          {{ pagination.previous.label|default("Previous") }}
        </span>
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      {{ paginationButton(1, pagination.current) }}
    </li>

    {# Page numbers #}
    {% if pagination.items <= 4 %}
      {# List all of them if less than 4 #}
      {% for item in pager_ranges.all  %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}
    {% elseif pagination.current <= 4 and pagination.items >= 4 %}
      {# Show first three only #}
      {% for item in pager_ranges.first_three  %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}

      {{ ellipsis | raw }}

    {% elseif (pagination.current >= pagination.items - 3) %}
      {{ ellipsis | raw }}

      {# Show last three #}
      {% for item in pager_ranges.last_three %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}
    {% else %}
      {{ ellipsis | raw }}

      {# Default - Current -1, Current, Current + 1 #}
      {% for item in pager_ranges.default %}
        <li class="usa-pagination__item usa-pagination__page-no">
          {{ paginationButton(item, pagination.current) }}
        </li>
      {% endfor %}

      {{ ellipsis | raw }}
    {% endif %}

    <li class="usa-pagination__item usa-pagination__page-no">
      {{ paginationButton(pager_ranges.last_item, pagination.current) }}
    </li>

    <li class="usa-pagination__item usa-pagination__arrow">
      {# Next page #}
      <a
        href="{{ placeholder_link }}"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="{{ pagination.next.aria_label|default("Next page") }}"
        {{ pagination.items == pagination.current ? 'disabled' }}>
        <span class="usa-pagination__link-text">
          {{ pagination.next.label|default("Next") }}
        </span>
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ sprite_path }}#navigate_next"></use>
        </svg>
      </a>
    </li>

  </ul>
</nav>
